<nav class="navbar navbar-expand-lg navbar-dark bg-dark px-3">
  <a class="navbar-brand text-white" href="/">VetClinic</a>

  <div class="navbar-nav">
    <%= link_to "Owners", owners_path, class: "nav-link text-white" %>
    <%= link_to "Pets", pets_path, class: "nav-link text-white" %>
    <%= link_to "Vets", vets_path, class: "nav-link text-white" %>
    <%= link_to "Appointments", appointments_path, class: "nav-link text-white" %>
  </div>
</nav>